/math.stackexchange.com
/math.meta.stackexchange.com
/.vscode
/dlmf-chapters-OneJsonObjectPerMathExpr 
/dlmf-chapters-OneTextBlockPerMathExpr
/dlmf-chapters-SimpleXML
/conf 


db_conf.json
conf/storing_log.txt
conf/copy_log.txt
tags_categories.txt 
xml_posts_math_sample.txt
selected_tags.txt
apply.py
testing.py
__pycache__/mse.cpython-310.pyc
apply1.py
apply_titles.py
title_formulas_before.txt
.gitignore
.gitignore
title_formulas_left_rigts.txt
.gitignore
.gitignore
.gitignore
.gitignore
title_token_samples.txt
title_formulas_deps.txt
title_samples.txt
print_outs/descriptive_nouns_500_LABELED1.txt
print_outs/token_log500.txt
print_outs/token_log500mathml.txt
print_outs/align_ids.txt
