/math.stackexchange.com
/math.meta.stackexchange.com
/.vscode
/dlmf-chapters-OneJsonObjectPerMathExpr 
/dlmf-chapters-OneTextBlockPerMathExpr
/dlmf-chapters-SimpleXML
/conf 


db_conf.json
conf/storing_log.txt
conf/copy_log.txt
tags_categories.txt 
xml_posts_math_sample.txt
selected_tags.txt
apply.py
testing.py
__pycache__/mse.cpython-310.pyc
